@font-face {
  font-family: "Work Sans";
  src: url("./fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")format("truetype");
}

body {
  font-family: 'Work Sans';
}

.bg-yellow-brand {
  background: #ffdc10;
}

.bg-blue-brand {
  background: #315fad;
}

.btn {
  font-weight: 500;
}

.btn-secondary {
  --tblr-btn-bg: #ffdc10;
  --tblr-btn-color-interactive: #ffcc10;
  --tblr-btn-color: #206BC4;
}

strong {
  font-weight: bold;
}

.start-75 {
  left: 75%;
}

header.navbar {
  background-color: #315fad;
}

#navbar-menu {
  background-color: #fff;
}

.navbar .navbar-toggler {
  color: #ffcc10;
}

.navbar-brand-image{
  height: 100px;
  width: 300px;
}

.table-sort {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  border: 0;
  background: inherit;
  display: block;
  width: 100%;
  text-align: inherit;
  transition: color .3s;
  margin: -0.5rem -0.75rem;
  padding: 0.5rem 0.75rem;
}

.table-sort.asc:after, .table-sort.desc:after, .table-sort:after {
  content: "";
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'><path d='M5 7l3 -3l3 3'/><path d='M5 10l3 3l3 -3'/></svg>") no-repeat center;
  opacity: .2;
}

.table-sort.desc:after {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 10l3 -3l3 3'/></svg>") no-repeat center;
  opacity: 1;
}

.table-sort.asc:after {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 7l3 3l3 -3'/></svg>") no-repeat center;
  opacity: 1;
}

.icon-tabler-truck-delivery {
  color: #FFDC10 !important;
  width: 3vw !important;
  height: 3vw !important;
  max-width: 60px;
  max-height: 60px;
  min-width: 30px !important;
  min-height: 30px;
  stroke-width: 1.25;
}

.accordion-button {
  display: revert;
  border: 1px solid rgba(98,105,118,.16);
}

.accordion-body {
  border: 1px solid rgba(98,105,118,.16);
  border-top: none;
}

.separator {
  border: none;
  height: 15px;
}

.border-style-none {
  border-style: none;
  border-bottom-width: 0;
}

.accordion-item {
  border: none;
}

.accordion-button:not(.collapsed) {
  font-weight: 500;
  background-color: #315FAD;
  color: #fff;  
  border-bottom-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cdesc%3EDownload more icon variants from https://tabler-icons.io/i/chevron-down%3C/desc%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='6 9 12 15 18 9' /%3E%3C/svg%3E");
}

.accordion-button::after {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cdesc%3EDownload more icon variants from https://tabler-icons.io/i/chevron-down%3C/desc%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='6 9 12 15 18 9' /%3E%3C/svg%3E");
  right: 10px;
  top:10px;
}

.flex-auto {
  flex: 0 1 auto;
}

.page-title {
  justify-content: center;
}

.btn-icon-truck {
  float: right;
  width: 5vw;
  height: 5vw;
  max-width: 90px;
  max-height: 90px;
  min-width: 45px;
  min-height: 45px;
  border-radius: 45px;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    justify-content: center;
  }
}